/* Colors: http://kuler.adobe.com/#themeID/1445347 */
A:link {
	text-decoration: none;
}

html, body, .screen {
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
}
.header {
  width: 100%;
  border: 1px solid black;
  background-color: #41382A;
  
}
.header h1 {
  padding:0;
  color: #D8CFBD;
  font-family: 'Swanky and Moo Moo', cursive;
}
.header h1, .sidebar-general , .sidebar-quick-actions, .sidebar-playlist {
  margin:0 15px;
}

.workspace {
	float: left;
	width: 100%;
	height: 82%; /* Will need to change this.... */
}

.sidebar {
  float: left;
  width: 130px;
  height: 100%;
  /*border: 1px solid black;*/
  margin: 0px;
  background-color: #27261F;
  
}

.sidebar h2 {
	font-family: 'Annie Use Your Telescope', cursive;
	padding: 0; 
}

.sidebar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar a {
	color: #E3D0AB;
	margin-left: 5;
	padding: 0;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 20px;
}


.sidebar-playlist-title, .sidebar-playlist-add {
  padding: 0;
  margin: 0;
	margin-right: 10px;
  display: inline;
}

.sidebar-playlist-add a {
  font-size: 36px;
}

.info-box {
	float: left;
	background-color: #D8CFBD;
	width: 90%;
	height: 100%;
	
}

.library {
	float: left;
	width: 100%;
	background: blue;
	visibility: hidden;
}

.footer {
	float: left;
	width: 100%;
	background-color: #41382A;
}

.playlist ul {
	list-style-type: none;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.playlist li {
	display: inline;
}

.player {
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;
}

.play-controls {
	float: left;
	width: 10%;
}

.prev, .play, .next, .vol {
	float: left;
	padding: 0;
	margin: 10px;
}

.progress-bar {
	float: left;
	width: 80%;
	display: inline;
}

.progress, .time {
	float: left;
	padding: 0;
	margin: 10px;
}

.playback-controls {
	float: left;
	width: 10%;
	display: inline;
}

.shuffle, .repeat {
	float: left;
	margin: 10px;
	padding: 0;
}

